extends layout

include mixins/_downloadForm

block content
    - const finalImagePath = finalImage.split('public/')[1];
    .download
        img.download_img(src=`${finalImagePath}` draggable="true")
    
    +downloadForm(finalImagePath)