mixin downloadForm(path)

    form#download(action="/download" METHOD="POST")
        input(type="hidden" name="path" value=`${path}`)
        button.btn(type="submit")
            span Download
            i.fa.fa-arrow-circle-down