mixin modal()

    .modal
        .modal_content
            .modal_header
                h3.modal_h3 How to Use Instapaper
                button.modal_btn &times;
            ol.modal_ol 
                li.modal_li Search a public Instagram handle.
                li.modal_li Rearrange the order of images if you like.
                    ul
                        span By:
                        li Tapping two (2) images seperately to swap their positions (mobile)
                        span Or:
                        li Dragging an image over another and releasing to swap their positions (desktop)
                li.modal_li Confirm final positioning of images by uploading back to the server.
                li.modal_li Download the final image!
            .modal_noshow
                label(for="noshow")
                    input(type="checkbox" id="noshow" name="noshow")   
                    span Got it. Do not show again

